 body{
  background-image: url('images/desktop-1920x1080.jpg');
  height: 150%; 
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
    background-color: red;
    color: white;
    outline: none;
    margin-right: 70px;
   
}



@media screen and (max-width: 959.98px){
.nav {
    height: 5rem;
}

}